@import url('~/assets/fonts/index.css');

body {
  font-family: KalamehWeb;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

* {
    -webkit-tap-highlight-color: transparent;
}

input, button, a, textarea {
    outline: none;
}
